.bubble::before {
    content: '';
    
    width: 100%;
    background-color: #FFF5F2;
    height: 35px;
}

@media only screen and (min-width: 640px) {
  .bubble::before {
    content: '';
    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    width: 100%;
    background-color: #FFF5F2;
      height: 50px; 
  }
}
input::placeholder {
    color: transparent;
  }
  input:focus::placeholder {
    color: #666;
  }

  